*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    
    font-weight: 600px;
}
h2{
    font-size: 40px;
    margin-bottom: 2rem;
}
p{
    font-size: 24px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 20px;
}
h1{
    font-size: 40px;
}
header{
    background-color: black;
    height: 80px;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    width: 100%;
    height: 100%;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 100%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    font-size: 16px;
}
.nav-link{
    margin-left: 24px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.section-1{
    background-color: rgba(245, 184, 174, 0.884);
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 470px;
}

.section-1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section-1 .char{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-1 .links{
    margin-top: 32px;
    margin-bottom: 32px;
}
.section-1 .mimage{
    width: 400px;
    margin-left: 72px;
}
.button{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 800px;  
    text-transform: uppercase;
    text-decoration: none;   
}

.button-black{
    background-color: black;
    color: white;
} 

.button-outline{
    border: 1px solid black;
    color: black;
}
   
.tc{
    font-size: 11px;
    max-width: 630px;
}   

.section-download{
    background-color: rgb(240, 239, 239);
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;

}
.section-download .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-download .tandc{
    text-align: center;
}
.tandc{
    font-size: 11px;
}
.section-download .button{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.section-why{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5rem;
    padding-bottom: 5rem;

}
.section-why .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reasons{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    list-style: none;

}
.reason{
    display: flex;
    flex-direction: column;
    align-items: centre;
    text-align: center;
}
.reason p{
    font-size:1rem ;
}
.reason img{
    width: 8.7rem;
    height: 8.7rem;
}